<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href = "@{/css/bootstrap.min.css}" rel = "stylesheet">
</head>
<body>
<p>Get your Session Details <a href="/sessionT">here</a></p>
<p>Get your Speaker Details <a href="/speakerTest">here</a></p>
<p>Get your Ticket Price Details <a href="/ticketPriceTest">here</a></p>
<p>Get your Ticket Type Details <a href="/ticketTypeTest">here</a></p>
<p>Get your Time Slot Details <a href="/timeSlotTest">here</a></p>
</body>
</html>